<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.practice.post.repository.PostMapper">
	<select id="findAll" resultType="post">
		select
			post_idx,
			post_title,
			post_content
			FROM POST
			ORDER BY post_idx desc
	</select>
</mapper>